*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  margin:1vw;
  padding:0;
}

h3 {margin:0}


body {
  font-size: calc(1em + 1vw);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.wrap {display:inline-block; width:100%;}
ul,form {
  margin: 1em auto;
  padding: 0;
  max-width: 20em;
}
input, button {
  border: none;
  margin:  0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  font-size: 0.8em;
}
